.overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.modal {
  width: 405px;
  background: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

button span {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.button button {
  width: 164px;
  height: 48px; 
}