.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    margin-left: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;  
}

.back1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #151B1F;
}

.back2 {
    background-color: #151B1FCF;
}

.btncont {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 32px;
}

.txtbtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
}

.linkscontainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-top: 32px;
}

.icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}