@keyframes moveLeft {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1000px);
  }
}

@keyframes moveUp {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
      margin-left: 64px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      display: grid;
      grid-template-columns: 1fr 1fr;
        
  }

.back1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #151B1F;
      z-index: 100;
      animation: moveLeft 0.3s cubic-bezier(0,.97,.01,.97);
  }
  .back2 {
      background-color: #151B1FCF;
      animation: fadeIn 0.3s ease-in-out;
  }  

.btncont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 32px;
  }

  .txtbtn {
    padding: 0px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .txtbtn:hover {
    color: #0EC261;
  }

  .linkscontainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 32px;
  }

  .icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .icon:hover path {
    fill: #0EC261;
  }

  .language {
    color: #0EC261;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 8px;
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;
    display: none;
  }


@media (min-width: 768px) and (max-width: 1023px) {
  .main {
      margin-left: 64px;
      grid-template-columns: 1fr; 
    }
  .back1 {
      flex-direction: column;
      justify-content: center;
      background-color: #151B1F;
      animation: moveLeft 0.3s cubic-bezier(0,.97,.01,.97);
      z-index: 100; 
      width: 100%;
  }
    .back2{
      display: none;
    }
}

@media (max-width: 767px) {
    .main { 
        grid-template-columns: 1fr; 
        margin-left: 0;
    }
    .back1 {
      height: 100%;
      display: block;
      padding-top: 72px;
      padding-left: 24px;
    }
    .back2{
      display: none;
    }
    .container {
      padding: 24px;
    }
    .btncont{
      gap: 22px;
      padding-top: 0;
    }
    .txtbtn {
      font-family: Roboto;
      font-weight: 500;
      font-size: 22px;
      line-height: 100%;
      letter-spacing: 0%;
    }
    .language {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 72px;
      width: 72px;
    }

}