.fieldWrapper {
    position: relative;
    flex: 1;
}

.wrapper {
    display: flex;
    align-items: center;
    position: relative;
    cursor: text;
}

.wrapper > :first-child {
    flex: 1;
}

.hiddenInput {
    position: absolute;
    top: 32px;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

.fieldWrapper .errorMessage {
    position: absolute;
    top: 100%;
    left: -8px;
    font-size: 11px;
    color: #e74c3c;
    font-weight: 300;
    white-space: nowrap;
    margin-top: 2px;
}
