@keyframes moveRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.sidebar {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 64px;
  height: 100vh;          
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;   
  background-color: #151B1F;
  padding: 32px 0 32px 0;
  z-index: 10000;   
  animation: moveRight 0.2s ease-out;     
}

.sidebar button {
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
}

.sidebar .togglebtn:hover {
  opacity: 0.7;
}
.sidebar .togglebtnClosed:hover {
  opacity: 0.7;
}

.togglebtn {
  color:  #ffffff;
}
.togglebtnClosed {
  color: #ffffff;
}

.sidebar .language {
  color: #0EC261;
  height: 48px;
  width: 48px;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 8px;
  border: none;
  border-color: #eeeeee;
}

.sidebar .language:hover {
	border: 1px solid #eeeeee;
	border-radius: 50%;
	color: #ffffff;
	transition: border 0.2s ease, color 0.2s ease;
}

.sidebar .language:active {
  border: 1px solid #eeeeee;
  border-color: #ffffff;
  color: #0EC261;
}

@media (max-width: 767px) {
  .sidebar {
    padding-top: 16px;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;          
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
    background-color: #ffffff;
    z-index: 10000;        
  }
  .sidebar.menuOpen {
    background-color: #151B1F; 
  }
  .togglebtn {
    color: #121212;
  }
  .togglebtnClosed {
    color: #ffffff;
  }
  .language {
    display: none;
  }
}