.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 32px;
    width: 40%;
}

.container span {
	font-weight: 300;
	font-size: 14px;
	color: #333;
	flex-shrink: 0;
}

.rateContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.extraContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dateContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputRow {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 16px;
}

.inputRow > :last-child {
    flex: 1;
}

.inputText {
    width: 16px;
    font-weight: 300;
    font-size: 14px;
    color: #333;
    flex-shrink: 0;
    text-align: right;
}
