.choiceSortContainer {
    display: flex;
    gap: 32px;
}
ul {
    display: flex;
    flex-direction: row;
    padding: 0;

}

.modelsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
}


@media (max-width: 768px) {
    .choiceSortContainer {
        display: flex;
        justify-content: center;
        gap: 32px;
        width: calc(100% - 32px);
    }
    .modelsGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: calc(100% - 32px);
    }
}