.radioWrapper {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.radiobutton {
    appearance: none; 
    width: 12px;
    height: 12px;
    border: 1px solid #999;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: 0.1s ease;
}

.radiobutton:checked {
    border: 3px solid #0EC261;
}

.label {
    font-weight: 300;
	font-size: 14px;
	color: #999;
    margin-left: 8px;
}

.radiobutton:checked + .label {
    color: #121212;
}
